body {
    background-color: rgb(255, 255, 255);
}

table {
  width: 1750px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
    height: 90px;
}

tr:nth-child(even) {
  background-color: #e2e2e2f3;
}